<!-- views/index.ejs -->
<!-- Purpose: Simple landing page; uses shared head/footer partials for CSS/JS. -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body class="home">
    <h1 class="goju-ryu-logo">
      <span>G</span><span>O</span><span>J</span><span>U</span><span>-</span
      ><span>R</span><span>Y</span><span>U</span>
    </h1>
    <p>剛柔流</p>
    <p></p>
    <h1><%= title %></h1>
    <p>Welcome to the Martial Arts Forms App.</p>

    <p><a href="/new">Create a new form</a></p>

    <div
      style="
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-top: 32px;
      "
    >
      <img
        src="/images/chi-i-do.png"
        alt="Chi-i-do Logo"
        style="max-width: 220px; width: 100%; height: auto; object-fit: contain"
        class="logo"
      />
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
